[project]
	description = The docuements of learning to linux kernel.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/liminghao (leeminghao)
[access "refs/for/refs/*"]
	read = group user/liminghao (leeminghao)
	push = group user/liminghao (leeminghao)
	label-Code-Review = -2..+2 group user/liminghao (leeminghao)
	label-Verified = -1..+1 group user/liminghao (leeminghao)
	rebase = group user/liminghao (leeminghao)
	removeReviewer = group user/liminghao (leeminghao)
	submit = group user/liminghao (leeminghao)
[access "refs/heads/*"]
	read = group user/liminghao (leeminghao)
	create = group user/liminghao (leeminghao)
	push = +force group user/liminghao (leeminghao)
	pushMerge = group user/liminghao (leeminghao)
[access "refs/tags/*"]
	push = +force group user/liminghao (leeminghao)
	pushTag = group user/liminghao (leeminghao)
	pushSignedTag = group user/liminghao (leeminghao)
